[submodule "libs/Cryptography"]
	path = libs/Cryptography
	url = git@github.com:Jordi-R66/Cryptography.git
	branch = version-lib
[submodule "libs/myOwnCLib"]
	path = libs/myOwnCLib
	url = git@github.com:Jordi-R66/myOwnCLib.git
